/* Main CSS settings */
.main-container {
    -fx-background-color: #262626;
    -fx-border-color: #a1d908;
    -fx-border-width: 2;
}
.left-column {
    -fx-border-color: red;
    -fx-border-width: 2;
}
.buttons-panel {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #124d77;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-spacing: 10;
}
.charts-panel {
    -fx-border-color: green;
    -fx-border-width: 2;
}
.gauge-panel {
    -fx-border-color: blue;
    -fx-border-width: 2;
}

/* Buttons Section */
.button {
    -fx-pref-width: 200;
    -fx-font-size: 15;
    -fx-font-family: Arial;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: #124d77;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #007dc1, #0061a7);
}
.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #0061a7, #007dc1);
}
#start-button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #28a725, #216838);
    -fx-border-color: #1e7e31;
}

#start-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #216838, #28a725);
}
#stop-button {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #dc3345, #c82343);
    -fx-border-color: #bd2630;
}

#stop-button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #c82343, #dc3345);
}

/* Charts section */
.charts-panel .chart-title {
    -fx-text-fill: white;
}
.charts-panel .axis-label {
    -fx-text-fill: white;
}
.charts-panel .axis {
    -fx-stroke: white;
    -fx-tick-label-fill: white;
}
.charts-panel .chart-legend .label {
    -fx-text-fill: white;
}
.charts-panel .chart-plot-background {
    -fx-background-color: transparent;
}
.charts-panel .chart-legend {
    -fx-background-color: transparent;
}